@font-face {
	font-family: '卓健橄榄简体';
	src: url(../../assets/fonts/卓健橄榄简体.woff2) format('woff2'),
	url(../../assets/fonts/卓健橄榄简体.woff) format('woff'),
	url(../../assets/fonts/卓健橄榄简体.ttf) format('truetype'),
	url(../../assets/fonts/卓健橄榄简体.eot) format('embedded-opentype'),
	url(../../assets/fonts/卓健橄榄简体.svg) format('svg'),
	url(../../assets/fonts/卓健橄榄简体.otf) format('otf');
	font-weight: normal;
	font-style: normal;
}